<!DOCTYPE html>
<html>
<head>
    <title>Smart Parking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>🚗 Smart Car Parking System</h1>

    <div class="container">
        <h2>Welcome</h2>
        <p>Book your parking slot easily and get instant QR ticket.</p>

        <br>

        <a href="/login">
            <button>Login</button>
        </a>

        <br><br>

        <a href="/register">
            <button>Create Account</button>
        </a>

        <br><br>

        <a href="/slots">
            <button>View Parking Slots</button>
        </a>
    </div>

</body>
</html>